<footer>
  <div class="container">
    <div class="col">
      <h3>FOODS</h3>
      <%= link_to 'Home', '' %>
      <%= link_to 'Recipes', '' %>
      <%= link_to 'Users', '' %>
      <%= link_to 'Help', '' %>
    </div>
    <div class="col">
      <h3>User</h3>
      <%= link_to 'My Profile', '' %>
      <%= link_to 'My Recipes', '' %>

    </div>
    <div class="col">
      <h3>© 2015 Lev Nes</h3>
    </div>
  </div>
</footer>