<footer>
  <div class="container">
    <div class="col">
      <h3>FOODS</h3>
      <%= link_to 'Home', '' %>
      <%= link_to 'Recipes', '' %>
      <%= link_to 'Users', '' %>
      <%= link_to 'Help', '' %>
    </div>
    <div class="col">
      <h3>User</h3>
      <%= link_to 'My Profile', '' %>
      <%= link_to 'My Recipes', '' %>

    </div>
    <div class="col">
      <p>© 2015 Lev Nes</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, asperiores, placeat doloribus fugit iusto veritatis ea tenetur a possimus consequuntur. Perspiciatis, odit nihil deleniti incidunt!</p>
    </div>
  </div>
</footer>